
#logo{
    height: 350px;
}
.hero{
    display: flex;
    flex-direction: row;
}
.hero div{
    width: 50%;
}
.form{
    background-color: #0D6582;
    display: flex;
    justify-content: center;
    gap: 10%;
    height:689px;
    width: 250px;
    align-items: center;
}
.form input, button{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 0;
}
.form button{
    margin: 40px 0;
    background-color: #DF8A27;
}

.form label{
    color: white;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 13% 0;
}
.input{
    margin: 10px 0;
}
.form p{
    color: white;
}
.form a{
    color: #DF8A27;
}
.login-form{
    width: 250px;
}
.login-form > h1{
    color: white;
    margin-bottom: 50px;
    text-align: center;
}
@media only screen and (max-width: 750px) {
    html{
        margin: 0;
    }
    .logo{
        display: none;
    }
    #logo{
        display: none;
    }
    .hero{
        width: 100%;
        display: block;
    }
    .form{
        width: 100%;
    }
    .login-input{
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    .login-form{
        width: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .hero div{
        width: 100%;
    }
    .login-form > div{
        width: 254px;
    }
}