@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: #f5f5f5f5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.colleagues-container {
  margin-top: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.co-card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.co-card h1 {
  text-align: center;
}

.co-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#037fa5, #026483);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.co-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.co-card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.co-card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.co-card .additional .user-card .level,
.co-card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.co-card .additional .user-card .points {
  top: 85%;
}

.co-card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.co-card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.co-card.green .additional .more-info h1 {
  color: #224C36;
}

.co-card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.co-card.green .additional .coords {
  color: #325C46;
}

.co-card .additional .coords span + span {
  float: right;
}

.co-card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.co-card.green .additional .stats {
  color: #325C46;
}

.co-card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.co-card .additional .stats i {
  display: block;
}

.co-card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.co-card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.co-card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.co-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.co-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
.badge {
    height: 40px;
    width: 30px;
}
.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.profile-close-icon {
  cursor: pointer;
  position: fixed;
  right: 0%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  margin-left: 100px;
}
