.container{
    padding: 30px 158px;
}
.title{
    width: 84.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title > h1{
    font-size: 28px;
}
.title > h3 {
    font-weight: 600;
    margin-bottom: 5px;
}
.main-body{
    display: flex;
    justify-content: space-between;
}
.games-section{
    display: flex;
    justify-content: space-between;
    width: 675px;
}
.users-section{
    width: 252px;

}
.users-section > h3{
    font-weight: 600;
}
.game-card{
    cursor: pointer;
    background-color: #2994B7;
    border-radius: 10px;
    width: 325px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}
.game-contents{
    background-color: #0D6582;
    border-radius: 5px;
    align-self: center;
    display: flex;
    width: 305px;
    justify-content: space-evenly;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
}
.game-vl{
    border-left: 2px solid #2994B7;
    height: 50%;
    align-self: center;
}
.game-contents > h4{
    font-size: 12px;
    margin-bottom:0; 
    align-self: center;
    color: white;
    font-weight: 400;
}
.points{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.points > h4{
    font-size: 12px;
    margin-bottom:0; 
    align-self: center;
    color: white;
    font-weight: 400;
    padding-right: 5px;
}
.points > p{
    font-size: 12px;
    font-weight: 400;
}
.game-info > p {
    color: white;
    font-weight: 400;
}
.game-info > h2 {
    margin: 0;
    align-self: center;
    color: white;
}
.top-user{
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
    background-color: #0D6582;
    border-radius: 5px;
}
.leader-profile-info{
    width: 122px;
    color: white;
    padding-top: 10px;
    line-height: 70%;
}
.leaderboard{
    margin-bottom: 50px;
}
.leader-points{
    display: flex;
    justify-content: start;
    padding-top: 0px;
}
.leader-points > p{
    align-self: center;
    font-size: 12px;
    font-weight: 400;
    padding-right: 5px;
}
.top-user-img{
    display: flex;
    justify-content: space-between;
    
}
.rank{
    display: flex;
    width: 40px;
    background-color: #DF8A27;
    height: 59.39px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
}
.rank > h3 {
    color: white;
    align-self: center;
    margin: 0;
}
.leader-profile-img{
    height: 30px;
    border-radius: 50%;
    border: 4px solid white;
    align-self: center;
    margin-right: 10px;
}
.leader-points > p{
    padding-left: 5px;
}
.col-container{
    display: flex;
    flex-direction: column;
}
.col{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 5px;
    background-color: #0D6582;
    border-radius: 5px;
    margin-left: 0;
}
.col-profile{
    display: flex;
    justify-content: start;
    width: 208px;
    margin-left: 10px;
}
.col-profile-info {
    width: 122px;
    color: white;
    padding-top: 10px;
    line-height: 70%;
}
.col-profile-img{
    height: 30px;
    align-self: center;
    margin-right: 10px;
}
.col-contents{
    background-color: #2994B7;
    border-radius: 5px;
    align-self: center;
    display: flex;
    width: 230px;
    justify-content: space-evenly;
    text-align: center;
    height: 24px;
    margin-bottom: 10px;
}
.col-contents > h5{
    font-size: 12px;
    margin-bottom:0; 
    align-self: center;
    color: white;
    font-weight: 400;
}
.col-points > h5{
    font-size: 12px;
    padding-top:5px; 
    align-self: center;
    color: white;
    font-weight: 400;
    height: 100%;

}
.col-vl{
    border-left: 1px solid #0D6582;
    height: 80%;
    align-self: center;
}