.add-game-container{
  padding: 0;
  display: flex;
  height: 100%;
}
.add-game{
  width: 660px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 100%;
}
.admin-game-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add-game-title{
  display: flex;
  justify-content: space-between;
}
.add-game-card{
  cursor: pointer;
  background-color: #2994B7;
  border-radius: 10px;
  width: 325px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.admin-add{
  background-color: #202020;
  color: white;
  font-weight: bold;
  width: 28.5%;
  cursor: pointer;
}
.game-remove-icon{
  position: relative;
  top: -17%;
}
.admin-game-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
}
.admin-game-contents{
  border-radius: 5px;
  align-self: center;
  display: flex;
  width: 305px;
  justify-content: space-between;
  text-align: center;
  height: 40px;
  margin-bottom: 10px;
}

.admin-open{
  background-color: #DF8A27;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
}
.admin-delete{
  background-color: #202020;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 150px;

}