body{
    margin: 0;
    background-color: #ffffff;
}
.hero{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.hero div{
    padding: 5%;
}
#logo{
    height: 350px;
}
.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-btn {
    width: 160px;
    height: 40px;
    background-color: #95BDCE;
    color: rgb(238, 238, 238);
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #95BDCE;
  }
  .form-btn:hover {
    background-color: rgb(52, 104, 116);
    color: rgb(238, 238, 238);
    font-size: 1.1em;
    font-weight: bolder;
    border: 1px solid rgb(52, 104, 116);
  }