.navbar{
  background-color: rgb(164, 164, 164);
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.nav-links > li {
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
}