.add-container{
  display: flex;
  justify-content: space-between;
}
.games-container{
  margin-top: 12%;
  margin-right: 25%;
  background-color: #0D6582;
  border-radius: 10px;
  padding: 5% 0;
  width: 30%;
  height: 40%;
}
.games-button{
  background-color: #DF8A27;
  align-self: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
}
.games-form{
  color: white;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}
.games-select-box{
  margin-left: 30px;
  margin-right: 30px;
  align-self: center;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.games-select-box > select{
  border-radius: 5px;
  width: 40%;

}
.games-select-box > input{
  border-radius: 5px;
  padding: 5px;
  border: 0;
  margin: 3px;
  width: 40%;
}
.games-select-box > label{
  padding-top: 5px;
}