/* .profile-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 50px;
    width: 700px;
    margin: 2% 20%;
    border-radius: 6px;
    padding: 40px;
    background: linear-gradient(#2bb6e0, #026483);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
.profile-img{
    border-radius: 50%;
    height: 150px;
}
.profile-form{
    width: 300px;
}
.profile-form h1,h2{
    color: white;
}
.box {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}
.close-icon {
    content: '&#10006;';
    cursor: pointer;
    position: fixed;
    right: calc(30% + 25px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}
.edit-profile{
    display: flex;
    flex-direction: column;  
    gap: 5px;  
}
.edit-profile > input:not(:first-child){
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid grey;
}
.edit-profile-button {
    background-color:#0a0a0a;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,.6);

  }
.edit-profile-button:hover {
    background-color:#026483;
    transition: 0.7s;
}
.edit-button {
    top:50%;
    background-color:#0a0a0a;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    margin: 0 30%;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,.6);

  }
.edit-button:hover {
    background-color:#026483;
    transition: 0.7s;
}
.image-container{
    height: 160px;
    gap:20px;
    display: flex;
    flex-direction: column;
} */