/* .hero{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.hero div{
    padding: 5%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-btn {
    width: 200px;
    height: 50px;
    background-color: #026483;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #95BDCE;
  }
  .form-btn:hover {
    background-color: rgb(46, 46, 46);
    color: rgb(238, 238, 238);
    font-size: 1.4em;
    font-weight: bolder;
    border: 1px solid rgb(52, 104, 116);
} */
#logo{
    height: 350px;
}
.hero{
    display: flex;
    flex-direction: row;
}
.hero div{
    width: 50%;
}
.form{
    background-color: #0D6582;
    display: flex;
    justify-content: center;
    padding: 13.6% 0;
    gap: 10%;
    width: 250px;
    align-items: center;
}
.form input, button{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 0;
}
.form button{
    margin: 40px 0;
    background-color: #DF8A27;
}

.form label{
    color: white;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 13% 0;
}
.input{
    margin: 10px 0;
}
.form p{
    color: white;
}
.form a{
    color: #DF8A27;
}
.login-form{
    width: 250px;
}