.add-container{
  display: flex;
  justify-content: space-between;
}
.badge-container{
  margin-top: 12%;
  margin-right: 25%;
  background-color: #0D6582;
  border-radius: 10px;
  padding: 5% 0;
  width: 30%;
  height: 40%;
}
.badge-button{
  background-color: #DF8A27;
  align-self: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
}
.badge-form{
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.badge-select-box{
  margin-left: 12%;
  margin-right: 12%;
  align-self: center;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.badge-select-box > select{
  border-radius: 5px;
  width: 40%;
}
